<div class="ui-g">
    <div class="ui-g-12">
        <div class="card docs"> 
            <h1>Running the Demo</h1>
            <p>Extract the contents of the zip file and then run;</p>   
<pre>
npm install
npm start
</pre>
            <p>Navigate to http://localhost:8080 to view the demo in your local environment.</p>
                    
            <h1>Layout</h1>
            <p>Omega consists of 2 main parts; the application layout component and layout resources. application.html inside app folder is the html template for the base layout having a router-outlet 
                for routing. Required resources for layout are placed inside the resources/layout folder. To install omega, use the application.html content as your main template and copy the layout resources to your application to get the styling and functionality.
                CSS and JS resources that belong to layout are loaded with link-script tags in index.html of sample application however you may also use a bundler like webpack to install them as well.
            </p>
            
            <p style="background-color: #e8e8e8; padding: 8px 14px">If you have an existing CLI application, see the CLI section below for integration.</p>
            
            <h1>Initialize</h1>
            <p>After the view of your application is initialized, call <i>init</i> method by passing the native element to initiate the layout.</p>
<pre>
import &#123;Component,AfterViewInit,ElementRef&#125; from '@angular/core';

declare var Omega: any;
    
@Component(&#123;
    selector: 'my-app',
    templateUrl: 'app/application.html'
&#125;)
export class Application implements AfterViewInit &#123;

    constructor(private el: ElementRef) &#123;&#125;

    ngAfterViewInit() &#123;
        Omega.init(this.el.nativeElement);
    &#125;
&#125;
</pre>

            <h1>Dependencies</h1>
            <ul>
                <li>Angular 2.0+</li>
                <li>PrimeNG 1.0+</li>
                <li>jQuery for Layout</li>
                <li>Nanoscroller for menu</li>
                <li>Animate.css for animations</li>
            </ul>

            <h1>Icons</h1>
            <p>Omega Layout uses font awesome icons for layout so enable font awesome support in PrimeFaces by setting primefaces.FONT_AWESOME context parameter in web.xml as true. If your PrimeFaces version 
            does not have the font awesome integration, include the font-awesome manually in your application.</p>

            <p>Default icons of Omega theme are png based and Omega Layout enhances them using sharp looking font awesome icons as well.</p>

            <h1>Cards</h1>
            <p>Card is a section to group content and layout provides a built-in css for it. Apply .card style class to your container to use it.</p>
<pre>
&lt;div class="card"&gt;
    Content here
&lt;/div&gt;

&lt;div class="card card-w-title"&gt;
    &lt;h1&gt;Title&lt;/h1&gt;
    Content here
&lt;/div&gt;
</pre>  

            <h1>Grid CSS</h1>
            <p>Omega uses new PrimeFaces Grid CSS throughout the samples, we strongly suggest using Grid CSS as your layout framework as it is well tested and supported by PrimeFaces. Grid CSS 
            is automatically included on newer versions however if your PrimeFaces version is older than 5.3.14, add the provided grid.css file under /omega-layout/css/ folder to your template manually.</p>            

            <h1>SASS Customization</h1>
            <p>Omega is implemented using sass where sections are organized in different scss files under sass folder such as
            _dashboard.scss, _login.scss, _main.scss. The _variables.scss file contains common parameters like fontSize, colors and more.
            In order to customize the layout, you need to make changes to the .scss files and generate a css file called layout.css.</p>                
        
        </div>
        <div class="card docs">
            <h1>Angular CLI Integration</h1>
            <p>If you have an existing application, skip to the "Integration with an Existing CLI Application" section. 
                For creating a project with using angular-cli, we need to download and install the angular-cli.</p>
<pre>
npm install -g angular-cli
</pre>
            <h2>Creating an Empty Project with Angular CLI</h2>
            <p>Run the following commands to create the application and run it.</p>
<pre>
ng new omega-with-cli
cd omega-with-cli
ng serve
</pre>
        <p>Now install PrimeNG.</p>
<pre>
npm install primeng --save
</pre>
         <p>Locate the styles.css inside the src folder and add the css of PrimeNG.</p>
<pre>
@import url('../node_modules/primeng/resources/primeng.min.css');
</pre>

        <p>For a sample quickstart on PrimeNG with CLI, visit <a href="https://github.com/primefaces/primeng-quickstart-cli">primeng-quickstart-cli</a> at GitHub.</p>

        <h1>Integration Omega with an Existing CLI Application</h1>
        <p>We need to copy the resources to the CLI project.
           First step is the main layout for Omega located in the app folder. Copy the content of omega/app/application.html and omega/app/application.ts 
           to cli applications src/app/app.component.html and app.component.ts files respectively.</p>
           
           <p>Next step is to install the assets of Omega. Copy the resoures/layout folder to
               app/assets folder of your application, then locate angular-cli.json at the root of your cli application and add following styles and scripts.
           </p>
<pre>
"styles": [
        //...
        "./app/assets/layout/animate.css",
        "./app/assets/layout/nanoscroller.css",
        "./app/assets/layout/layout.css"
      ]
</pre>
<pre>
"scripts": [
        "../node_modules/jquery/dist/jquery.min.js",   
        "./app/assets/layout/js/layout.js",
        "./app/assets/layout/js/nanoscroller.js"
      ]
</pre>

        <h1>Layout</h1>
        <p>In CLI, the main application component bootstraps the layout.</p>
<pre>
import &#123; Component, AfterViewInit, ElementRef &#125; from '@angular/core';

declare var Omega: any;

@Component(&#123;
  selector: 'app-root',
  templateUrl: './app.component.html',
  styleUrls: ['./app.component.css']
&#125;)
export class AppComponent implements AfterViewInit &#123;

  constructor(private el: ElementRef) &#123;&#125;

  ngAfterViewInit() &#123;
        Omega.init(this.el.nativeElement);
    &#125;
&#125;
</pre>

        <h1>Run</h1>
        <p>Run ng-serve to test the setup.</p>
        </div>
    </div>
</div>